<div class="row">
  <div class="col-2">
    <div class="row text-center">
      <div class="container">
        <h3 class="h3 text-info" style="margin: auto">Searching Box</h3>
      </div>
    </div>
    <br><br><br>
    <div class="container-fluid">
      <label for="areaSearch">Search by area: </label>
      <input type="text" class="form-control" id="areaSearch" [(ngModel)]="areaSearch">
      <label for="priceSearch">Search by price: </label>
      <input type="text" class="form-control" id="priceSearch" [(ngModel)]="priceSearch">
      <label for="directionSearch">Search by direction: </label>
      <input type="text" class="form-control" id="directionSearch" [(ngModel)]="directionSearch">
      <br>
      <div class="text-center">
        <button class="btn btn-outline-info" (click)="runSearch()">Search</button>
      </div>
    </div>
  </div>
  <div class="col-10">
    <h3 class="text-center text-info"> Post List</h3>
    <div class="container-fluid text-center">
      <button class="btn-outline-info" routerLink="/post/create">Create New Post</button>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-hover" style="margin-top: 5%">
          <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Category</th>
            <th scope="col">Region</th>
            <th scope="col">User</th>
            <th scope="col">Purpose</th>
            <th scope="col">Status</th>
            <th scope="col">Address</th>
            <th scope="col">Area</th>
            <th scope="col">Direction</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Price</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of postList | slice: (page-1) * pageSize : page * pageSize">
            <td>{{p.id}}</td>
            <td>{{p.category}}</td>
            <td>{{p.region}}</td>
            <td>{{p.user}}</td>
            <td>{{p.purpose}}</td>
            <td>{{p.status}}</td>
            <td>{{p.address}}</td>
            <td>{{p.area}}</td>
            <td>{{p.direction}}</td>
            <td>{{p.title}}</td>
            <td>{{p.content}}</td>
            <td>{{p.price}}</td>
          </tr>
          <tr [hidden]="postList.length" class="text-center">
            <td colspan="9"><b style="color: red;">List is empty !</b>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="row justify-content-center">
          <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="collectionSize">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
